@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-[#1a1d29] text-[#fefdfb];
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  ::selection {
    @apply bg-prr-purple text-white;
  }

  ::-moz-selection {
    @apply bg-prr-purple text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-prr-purple via-prr-indigo to-prr-violet;
  }
}
